<!DOCTYPE html>
<html>
    <head>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CampSide</title>
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">-->
        <link rel="stylesheet" type="text/css" href="/stylesheets/ionicons.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">CampSide</a>
            </div>
            
            <div id="navbar" class="collapse navbar-collapse text-center">
              <ul class="nav navbar-nav">
                <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campgrounds"><i class="glyphicon glyphicon-tent"></i>  Home</a></li>
              </ul>
        
              <ul class="nav navbar-nav navbar-right">
                <li class="show-form">
                    <form action="/campgrounds" method="GET" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="search" placeholder="Campground search..." class="form-control search-text" id="search-input">
                            <input type="submit" value="Search" class="btn btn-default search-btn hidden-xs">
                        </div>                    
                    </form>
                </li>
                  <% if(!currentUser){ %>
                      <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login"><i class="ion-icon ion-person"></i>  Login</a></li>
                      <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register"><i class="ion-icon ion-person-add"></i>  Sign Up</a></li>
                      <li class="<%= typeof page !== 'undefined' && page === 'contact' ? 'active' : '' %>"><a href="/contact"><i class="ion-icon ion-paper-airplane "></i>  Contact Us</a></li>
                  <% } else { %>
                      <li><a href="/users/<%= currentUser._id %>"><i style="color: orange;" class="ion-icon ion-person"></i>  Signed In As <%= currentUser.username %></a></li>
                      <li><a href="/logout"><i class="ion-icon ion-android-exit"></i>  Logout</a></li>
                      <li><a href="/contact"><i class="ion-icon ion-paper-airplane"></i>  Contact Us</a></li>
                  <% } %>
              </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <% if(error && error.length > 0) {%>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% }%>
        <% if(success && success.length > 0) {%>
         <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% }%>
    </div>
    <div class="container">
    


 